<!--Why is this here? It's like a duplicate of index.html.erb-->

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  



  

      <div class="wrapper">
        <div class="page-header" style="background-image: url(../assets/images/bruno.jpg");">
            <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="card-title">Welcome</h3>
                            <form class="register-form">
                                <label>Email</label>
                                <input type="email" class="form-control no-border" placeholder="Email">

                                <label>Password</label>
                                <input type="password" class="form-control no-border" placeholder="Password">
                                <button class="btn btn-danger btn-block btn-round">Sign In</button>
                            </form>
                            <div class="forgot">
                                <a href="#paper-kit" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="demo-footer text-center">
          <h6>&copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by The Rubber Duckies</h6>
        </div>
      </div>
  </div>
  </div>
  
    <!--Our Team-->

    <section id="team" class="pb-5">
      <div class="container">
        <h5 class="section-title h1">The Rubber Duckies</h5>
          <div class="row">
            <!--Rubber Duckie #1 -->

            <div class="col-sm">
              <div class="image-flip">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p><img class=" img-fluid" src="/assets/RyanandBrads.jpg" alt="Ryan Marks"></p>
                          <h4 class="card-title">Ryan Marks</h4>
                        <p class="card-text">-</p>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                   </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">About Ryan</h4>
                          <p class="card-text">-</p>
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                <i class="fa fa-facebook"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                <i class="fa fa-skype"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                <i class="fa fa-google"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <!-- End Rubber Duckie #1 -->

          <!--Rubber Duckie #2 -->

            <div class="col-sm">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                    <div class="card-body text-center">
                      <p><img class=" img-fluid" src="/assets/Linh.jpg" alt="Linh Sinh"></p>
                      <h4 class="card-title">Linh Sinh</h4>
                      <p class="card-text">-</p>
                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                    </div>
                  </div>
                 </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">About Linh</h4>
                        <p class="card-text">-</p>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-skype"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-google"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- End Rubber Duckie #2 -->

          <!--Rubber Duckie #3 -->

            <div class="col-sm">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                    <div class="card-body text-center">
                      <p><img class=" img-fluid" src="/assets/Barry.jpg" alt="card image"></p>
                      <h4 class="card-title">Barry</h4>
                      <p class="card-text">-</p>
                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                    </div>
                  </div>
                 </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">About Barry</h4>
                        <p class="card-text">-</p>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-skype"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-google"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- End Rubber Duckie #3 -->

          <!--Rubber Duckie #4 -->

            <div class="col-sm">
              <div class="image-flip" ontouchstart="=this.classList.toggle('hover')">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                    <div class="card-body text-center">
                      <p><img class=" img-fluid" src="/assets/Nikko.jpg" alt="card image"></p>
                      <h4 class="card-title">Nikko</h4>
                      <p class="card-text">-</p>
                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                    </div>
                  </div>
                 </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">About Nikko</h4>
                        <p class="card-text">-</p>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-skype"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-google"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- End Rubber Duckie 4 -->
      </div>
     </div>
    </section>
    <!-- Team -->

</body>

</html>     




    

    
    

      
    
    
  
