<div>
  <div class="black_square"></div>
  <div class="white_square"></div>
  <div class="black_square"></div>
  <div class="white_square"></div>
  <div class="black_square"></div>
  <div class="white_square"></div>
  <div class="black_square"></div>
  <div class="white_square"></div>
</div>
