
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');

.hero {
  background: image_url('ChessHero.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  box-shadow: 0px 1px 3px #2a2a2a;

}

 .newgamebg {
    background: image_url('newgamescreen.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  box-shadow: 0px 1px 3px #2a2a2a;
  
}

.nav-link {
    color: white;
}

.navbar-toggler {
    color: white;

}

.navbar-brand, a:hover {
    color: #b2ae9e;
}

.navbar-brand {

    color: white;
    font-size: 96px;
    text-align: center;
    font-family: 'Dancing Script', cursive;

}

#trigger {
    color: white;
    background-color: red;
    width: 200px;

    


}

.login-container {

  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  

}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

#team {
    background: #DE6262;  
    background: -webkit-linear-gradient(to bottom, #3c3b3f, #605c3c);  
    background: linear-gradient(to bottom, #3c3b3f, #605c3c); 
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}



section .section-title {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    text-transform: uppercase;

}


#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: black !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* New Game Create Form */

#login-button {
    background-color: red;
    color: white;
    font-weight: 500;
    align-content: center;
}

#logIN {
    
    display: none;
    background: linear-gradient(to bottom right, #bdc3c7, #bdc3c7);
    
    }

    #chessboard {
    width: 720px;
    height: 720px;
    margin: auto;
}

table td {
    width: 90px;
    height: 90px;
    vertical-align: middle;
    text-align: center;
    padding: 2px 0 5px 0;


}



.white {
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.black {
    background-color: grey;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}






.login-sec {padding: 30px 30px; position:relative;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: black;}
.login-sec h2:after{content:" "; width:100%px; height:5px; background:black; display:block; margin-top:20px;}
